@font-face {
  font-family: "Futura Condensed Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura Condensed Extra Bold"),
    url("/fonts/FuturaCondensedExtraBold.woff") format("woff");
}
